; To understand any of the values here see elibsrv.conf
title = ${elibsrv_title:-"My ebooks server"}
dbfile = ${elibsrv_db:-"/config/elibsrv.db"}
thumbheight = ${elibsrv_thumbheight:-160}
prettyurls = 1
latestdays = 60
thumbdir=/cache
kindlegenbin = /usr/bin/kindlegen
pagesize = 100
randcount = 20
